[package]
name = "dragonfly-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
strip = true
lto = true
codegen-units = 1
opt-level = "z"
panic = "abort"

[dependencies]
chrono = "0.4.26"
config = "0.13.3"
env_logger = "0.10.0"
flate2 = "1.0.26"
log = "0.4.17"
once_cell = "1.18.0"
reqwest = { version = "0.11.18", features = ["blocking", "json", "serde_json", "gzip"] }
serde = { version = "1.0.163", features = ["derive"] }
tar = "0.4.38"
thiserror = "1.0.40"
threadpool = "1.8.1"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
yara = "0.20.0"
yara-sys = { version = "0.20.0", features = ["yara-static"] }
zip = "0.6.6"
