[package]
name = "dragonfly-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
env_logger = "0.10.0"
flate2 = "1.0.26"
log = "0.4.17"
reqwest = { version = "0.11.18", features = ["blocking", "json", "serde_json", "gzip"] }
serde = { version = "1.0.163", features = ["derive"] }
tar = "0.4.38"
threadpool = "1.8.1"
yara = "0.20.0"
yara-sys = "0.20.0"
zip = "0.6.6"
