[package]
name = "dragonfly-client-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
env_logger = "0.10.1"
figment = { version = "0.10.12", features = ["env", "toml"] }
flate2 = "1.0.28"
log = "0.4.20"
once_cell = "1.18.0"
parking_lot = "0.12.1"
reqwest = { version = "0.11.22", features = ["blocking", "json", "serde_json", "gzip"] }
serde = { version = "1.0.193", features = ["derive"] }
tar = "0.4.40"
thiserror = "1.0.50"
threadpool = "1.8.1"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
yara = "0.20.0"
yara-sys = { version = "0.20.0", features = ["yara-static"] }
zip = "0.6.6"

[profile.release]
strip = true
lto = true
codegen-units = 1
opt-level = "z"
panic = "abort"
