---
name: Image Build and Push

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read

jobs:
  build-push:
    permissions:
      packages: write
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad  # v4.0.0

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0
        with:
          install: true
          cleanup: false
          platforms: ${{ matrix.platform }}
          config-inline: |
            [worker.oci]
            gc = true
            gckeepstorage = 10_000  # 10 GB

            [[worker.oci.gcpolicy]]
            all = true
            keepBytes = 10_000_000_000  # 10 GB
            keepDuration = 7_776_000  # 90 days

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: docker_meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051  # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=edge
            # FIXME: Remove explicit `latest` tag, once we start tagging releases
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=tag
            type=sha,format=long

      - name: Inject Docker Build(x|Kit) cache mounts
        uses: sid-maddy/buildkit-cache-dance/inject@cc79294360549b4d25e3c026b0a4b37576bba7c3  # v1
        with:
          cache-mounts: |
            cargo-registry,/usr/local/cargo/registry
            rust-target-release,/app/target
          github-token: ${{ secrets.GITHUB_TOKEN }}
          key: rust-buildkit-cache-${{ matrix.platform }}-${{ hashFiles('Cargo.toml', 'Cargo.lock') }}
          restore-keys: |
            rust-buildkit-cache-${{ matrix.platform }}-

      - name: Read Rust channel
        id: rust-channel
        run: |
          python3 <<'EOF' >"$GITHUB_ENV"
          import tomllib
          from pathlib import Path

          rust_toolchain = tomllib.loads(Path("./rust-toolchain.toml").read_text())
          print(f"RUST_VERSION={rust_toolchain["toolchain"]["channel"]}")
          EOF

      - name: Build and push Docker image
        id: docker_build_push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          build-args: |
            RUST_VERSION=${{ env.RUST_VERSION }}
          cache-from: type=gha,scope=${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=${{ matrix.platform }}
          file: Containerfile
          labels: ${{ steps.docker_meta.outputs.labels }}
          platforms: ${{ matrix.platform }}
          push: ${{ github.ref == 'refs/heads/main' || startswith(github.event.ref, 'refs/tags/v') }}
          tags: ${{ steps.docker_meta.outputs.tags }}

      - name: Extract Docker Build(x|Kit) cache mounts
        uses: sid-maddy/buildkit-cache-dance/extract@cc79294360549b4d25e3c026b0a4b37576bba7c3  # v1
        with:
          cache-mounts: |
            cargo-registry,/usr/local/cargo/registry
            rust-target-release,/app/target
          github-token: ${{ secrets.GITHUB_TOKEN }}
          key: rust-buildkit-cache-${{ matrix.platform }}-${{ hashFiles('Cargo.toml', 'Cargo.lock') }}

      # Sign the resulting Docker image digest.
      # This will only write to the public Rekor transparency log when the Docker repository is public to avoid leaking
      # data. If you would like to publish transparency data even for private images, pass --force to cosign below.
      # https://github.com/sigstore/cosign
      - name: Sign the published Docker image
        if: ${{ github.ref == 'refs/heads/main' || startswith(github.event.ref, 'refs/tags/v') }}
        # This step uses the identity token to provision an ephemeral certificate against the sigstore community Fulcio
        # instance.
        run: cosign sign --yes "$REGISTRY/$IMAGE_NAME@$IMAGE_DIGEST"
        env:
          IMAGE_DIGEST: ${{ steps.docker_build_push.outputs.digest }}

      - name: Export digest
        if: ${{ github.ref == 'refs/heads/main' || startswith(github.event.ref, 'refs/tags/v') }}
        run: |
          mkdir -p /tmp/digests
          digest="$IMAGE_DIGEST"
          touch "/tmp/digests/${digest#sha256:}"
        env:
          IMAGE_DIGEST: ${{ steps.docker_build_push.outputs.digest }}

      - name: Upload digest
        if: ${{ github.ref == 'refs/heads/main' || startswith(github.event.ref, 'refs/tags/v') }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          if-no-files-found: error
          name: digests
          path: /tmp/digests/*
          retention-days: 1

  merge:
    if: ${{ github.ref == 'refs/heads/main' || startswith(github.event.ref, 'refs/tags/v') }}
    needs:
      - build-push

    permissions:
      packages: write

    runs-on: ubuntu-24.04
    steps:
      - name: Download digests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          name: digests
          path: /tmp/digests

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: docker_meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051  # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=edge
            # FIXME: Remove explicit `latest` tag once we start tagging releases
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=tag
            type=sha,format=long

      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: >
          docker buildx imagetools create \
            $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf " $REGISTRY/$IMAGE_NAME@sha256:%s " *)

      - name: Inspect image
        run: >-
          docker buildx imagetools inspect \
            "$REGISTRY/$IMAGE_NAME:$IMAGE_MANIFEST_VERSION"
        env:
          IMAGE_MANIFEST_VERSION: ${{ steps.docker_meta.outputs.version }}
